{% extends "base.html" %}{% load static %} {% block title %} ZcAirlanes {% endblock %} {% block content %}
<div class="container">
  {% if searched %} {% for maskapai in searched %}
  <div class="card d-flex ms-2 mt-5" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ maskapai.nameMaskapai }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ maskapai.hargaTicket }}</h6>
      <p class="card-text">{{ maskapai.lokasiPertama }} To {{ maskapai.lokasiTujuan }}</p>
      <p class="card-text">Tanggal keberangkatan {{ maskapai.tgl_takeoff }}</p>
      <p class="card-text">Class -> {{ maskapai.clas }}</p>
      <p class="card-text">{{ maskapai.jamBerangkat }} -> {{ maskapai.jamSampai }}</p>
      <a href="{% url 'ticketDetails' maskapai.id %}" class="card-link">Buy</a>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
